/* App.css */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white; /* Standard-Hintergrundfarbe */
  transition: background-color 0.5s ease; /* Füge eine sanfte Übergangseffekt für den Hintergrund hinzu */
}

.countdown-finished .app {
  background-color: red; /* Hintergrund wird rot, wenn der Countdown abgelaufen ist */
}

.timer {
  font-size: 4rem;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
